<html>
<head>
<title>Bharathi</title>	
<style>
	body {
		margin:0;
		background: #eeeeee;
	}
	.Div01 {
		background: #007700;
		padding: 10px 100px;
		border-bottom: 1px solid #aaaaaa;
		color: #ffff00;
		font-size: 24px;
		border-bottom:5px solid #aaff00;
	}
	.Menu {
		background: #aaeeaa;
		padding: 7px 20px;
		text-decoration: none;
		color: #444444;
		font-size: 18px;
	}
</style>
</head>
<body>
	<div class="Div01">
		<font size="6">Django Project</font>
		<a href="/Home" class="Menu">Student</a>
		<a href="/About" class="Menu">MarkList</a>
		<a href="/Contact" class="Menu">Contact</a>
	</div>
</body>
</html>